.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: white;
}
.logo-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-logo,
.nav-profile {
  width: 60px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }
  .nav-logo,
  .nav-profile {
    width: 50px;
  }
}
